{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="example-wrapper">
   
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Günlük Satış</p>
                                <h6 class="mb-0">$2234r5</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Günlük Satış</p>
                                <h6 class="mb-0">$63452</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Toplam Satış</p>
                                <h6 class="mb-0">$34523</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Toplam Satış</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>

                <th>Company</th>

                <th>Email</th>

                <th>Status</th>
      
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>

                <td>{{ setting.title }}</td>
   
                <td>{{ setting.company }}</td>
    
                <td>{{ setting.email }}</td>
          
                <td>{{ setting.status }}</td>
                <td>
                    <a href="{{ path('app_setting_show', {'id': setting.id}) }}" class="btn btn-block btn-info">Göster</a>
                  
                </td>
                    <td>
                    <a href="{{ path('app_setting_edit', {'id': setting.id}) }}" class="btn btn-block btn-info">Düzenle</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">Kayıt bulunamadı
                 <a href="{{ path('app_setting_new') }}" class="btn btn-block btn-info">Yeni Ayar oluştur</a>
                </td>

            </tr> 
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_setting_new') }}">Yeni oluştur</a>
                         
                        </div>
                    </div>
                 
                </div>
            </div>
            <!-- Sales Chart End -->


 

</div>


{% endblock %}
