<section id="intro">
  <div class="container">
    <div class="row">
      <div class="span12">
        <!-- Place somewhere in the <body> of your page -->
        <div id="mainslider" class="flexslider">
          <ul class="slides">
            <li data-thumb="{{ asset('assets/img/slides/flexslider/6301811.jpg') }}">
              <img src="{{ asset('assets/img/slides/flexslider/6301811.jpg') }}" alt="" />
              <div class="flex-caption primary">
                <h2>EXPRESS</h2>
                <p>Bu bir kargo uygulamasıdır.</p>
              </div>
            </li>
            <li data-thumb="{{ asset('assets/img/slides/flexslider/laptop_12.jpg') }}">
              <img src="{{ asset('assets/img/slides/flexslider/laptop_12.jpg') }}" alt="" />
              <div class="flex-caption warning">
                <h2>Heryerdeyiz</h2>
                <p>Bu bir yurtdışı kargo firmasıdır.</p>
              </div>
            </li>
            <li data-thumb="{{ asset('assets/img/slides/flexslider/plane.jpg') }}">
              <img src="{{ asset('assets/img/slides/flexslider/plane.jpg') }}" style="height:500px" alt="" />
              <div class="flex-caption success">
                <h2>HİZMETİNİZDEYİZ</h2>
                <p>Kargolarını yurt dışının heryerine ulaştırmak için buradayız</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>