{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Ip</th>
                <th>Userid</th>
                <th>Created_at</th>
                <th>Update_at</th>
                <th>Rate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.subject }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.status }}</td>
                <td>{{ comment.ip }}</td>
                <td>{{ comment.userid }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.updateAt ? comment.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.rate }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_comment_new') }}">Create new</a>
{% endblock %}
