{% extends 'adminbase.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
               <!-- Sales Chart Start -->
     <div class="container-fluid pt-4 px-4">
              <h2 class="mb-0">Kategori Listesi</h2>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                              

    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parentid</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Status</th>
              
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.parentid }}</td>
                <td>{{ category.title }}</td>           
                <td>{{ category.description }}</td>
                <td>{{ category.image }}</td>
                <td>{{ category.status }}</td>
             
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          
                              </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                 
                </div>
                 <a href="{{ path('app_category_new') }}">Yeni Kategori oluştur</a>
            </div>
            <!-- Sales Chart End -->

{% endblock %}
