{% extends 'adminbase.html.twig' %}

{% block title %}Cargo index
{% endblock %}

{% block body %}
	<h1>Kargolar</h1>

	<div class="container-fluid pt-4 px-4">
		<div class="row g-4">

			<div class="col-sm-12 col-xl-6">
				<a href="{{ path('app_cargo_new') }}" class="btn btn-primary">Yeni Oluştur</a>
			</div>

			<div class="col-sm-12 col-xl-6">
				<div class="bg-secondary rounded h-100 p-4">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Başlık</th>
									<th>Ülke</th>
									<th>Durum</th>
									<th>Oluşturma Tarihi</th>
									<th>Güncellenme Tarihi</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for cargo in cargos %}
									<tr>
										<td>{{ cargo.id }}</td>
										<td>{{ cargo.title }}</td>
										<td>{{ cargo.country|country_name('tr') }}</td>
										<td>{{ cargo.isActive ? 'Onaylandı' : 'Bekliyor' }}</td>
										<td>{{ cargo.createdAt ? cargo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
										<td>{{ cargo.updatedAt ? cargo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
										<td>
											<a href="{{ path('app_cargo_show', {'id': cargo.id}) }}">Göster</a>
											<a href="{{ path('app_cargo_edit', {'id': cargo.id}) }}">Düzenle</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
