{% extends 'base.html.twig' %}

{% block title %}Cargo index{% endblock %}

{% block body %}
    <h1>Cargo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>KargoId</th>
                <th>Alici_adi</th>
                <th>Alici_adresi</th>
                <th>Gönderici_adi</th>
                <th>Gönderici_adresi</th>
                <th>Agirlik</th>
                <th>Boyutlar</th>
                <th>Gönderim_tarihi</th>
                <th>Teslimat_durumu</th>
                <th>Odeme_durumu</th>
                <th>Created_at</th>
                <th>Update_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cargo in cargos %}
            <tr>
                <td>{{ cargo.id }}</td>
                <td>{{ cargo.KargoId }}</td>
                <td>{{ cargo.aliciAdi }}</td>
                <td>{{ cargo.aliciAdresi }}</td>
                <td>{{ cargo.göndericiAdi }}</td>
                <td>{{ cargo.göndericiAdresi }}</td>
                <td>{{ cargo.agirlik }}</td>
                <td>{{ cargo.boyutlar }}</td>
                <td>{{ cargo.gönderimTarihi ? cargo.gönderimTarihi|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cargo.teslimatDurumu }}</td>
                <td>{{ cargo.odemeDurumu }}</td>
                <td>{{ cargo.createdAt ? cargo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cargo.updateAt ? cargo.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_cargo_show', {'id': cargo.id}) }}">show</a>
                    <a href="{{ path('app_admin_cargo_edit', {'id': cargo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_cargo_new') }}">Create new</a>
{% endblock %}
