{% extends 'base.html.twig' %}

{% block title %}Cargo{% endblock %}

{% block body %}
    <h1>Cargo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cargo.id }}</td>
            </tr>
            <tr>
                <th>KargoId</th>
                <td>{{ cargo.KargoId }}</td>
            </tr>
            <tr>
                <th>Alici_adi</th>
                <td>{{ cargo.aliciAdi }}</td>
            </tr>
            <tr>
                <th>Alici_adresi</th>
                <td>{{ cargo.aliciAdresi }}</td>
            </tr>
            <tr>
                <th>Gönderici_adi</th>
                <td>{{ cargo.göndericiAdi }}</td>
            </tr>
            <tr>
                <th>Gönderici_adresi</th>
                <td>{{ cargo.göndericiAdresi }}</td>
            </tr>
            <tr>
                <th>Agirlik</th>
                <td>{{ cargo.agirlik }}</td>
            </tr>
            <tr>
                <th>Boyutlar</th>
                <td>{{ cargo.boyutlar }}</td>
            </tr>
            <tr>
                <th>Gönderim_tarihi</th>
                <td>{{ cargo.gönderimTarihi ? cargo.gönderimTarihi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Teslimat_durumu</th>
                <td>{{ cargo.teslimatDurumu }}</td>
            </tr>
            <tr>
                <th>Odeme_durumu</th>
                <td>{{ cargo.odemeDurumu }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ cargo.createdAt ? cargo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ cargo.updateAt ? cargo.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_cargo_index') }}">back to list</a>

    <a href="{{ path('app_admin_cargo_edit', {'id': cargo.id}) }}">edit</a>

    {{ include('admin/cargo/_delete_form.html.twig') }}
{% endblock %}
